* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 224px;
  min-height: 100vh;
  font-family: var(--font_Roboto);
  background-color: black;
  color: white;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 100;
}

header .logo {
  width: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-left: 20px;
}

header nav {
  display: none;
}

header .menu {
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  max-width: 100px;
}

/***- Configuraciones generales de los contenedores -*/
.content-general {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.content-general .container {
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  z-index: 0;
  border: 1px inset rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.contentHome {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("/bg_home.jpg");
}

/* .contentAbout {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("/bg_about.jpg");
}
 */
.contentContact {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("/bg_contact.jpg");
}

.contentService {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("/bg_service.jpg");
}

.contentNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle, var(--bg_primary), var(--bg_secondary));
}

/***- Configuraciones generales de los contenedores -*/

@media screen and (min-width: 1024px) {
  header .logo {
    width: 6.5rem;
  }
}
